﻿@model IEnumerable<CartManagement.Models.ACCOUNT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AVAIL_BALANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLOSE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_ACTIVITY_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPEN_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PENDING_BALANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FIRST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AVAIL_BALANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLOSE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_ACTIVITY_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPEN_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PENDING_BALANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.FIRST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ACCOUNT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ACCOUNT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ACCOUNT_ID })
        </td>
    </tr>
}

</table>
