﻿@{
    ViewBag.Title = "Cart Management - Home";
}

<div class="jumbotron">
    <h1>Cart Management</h1>
</div>

<div class="row">
    <div>
        @Html.ActionLink("List of Customer", "Index", "CUSTOMERs")<br />
        @Html.ActionLink("List of Product", "Index", "PRODUCTs")<br />
        @Html.ActionLink("List of Acount", "Index", "ACCOUNTs")<br />
        @Html.ActionLink("List of Department", "Index", "DEPARTMENTs")<br />
        @Html.ActionLink("List of Employee", "Index", "EMPLOYEEs")<br />
        @Html.ActionLink("List of Order", "Index", "ACC_TRANSACTION")<br />
        @Html.ActionLink("List of Banch", "Index", "BRANCHes")<br />
        @Html.ActionLink("List of Category", "Index", "PRODUCT_TYPE")<br />
        @Html.ActionLink("List of Business", "Index", "BUSINESSes")<br />
    </div>
</div>